Package: com.greatlove.rctl
Name: rctl
Version: 0.3.4
Architecture: iphoneos-arm
Description: Secure remote control for jailbroken iOS devices.
Maintainer: GreatLove
Author: GreatLove
Section: Tweaks
Depends: mobilesubstrate, firmware (>= 14.0)
Homepage: https://github.com/nobottomline/rctl
